# Week 3 - Text

The objective for this part of the lecture is to explain how Python represents strings and how they can be used.

* What is a string
* How to manipulate and parse strings
* Printing out strings

In [1]:
"Dr. James"

'Dr. James'

In [2]:
dr='Dr. James'
dr

'Dr. James'

In [4]:
'Dr. James' + str(1)

'Dr. James1'

In [7]:
'Dr. James' + ' and spouse'

'Dr. James and spouse'

In [9]:
'Dr. James\'s spouse'

"Dr. James's spouse"

In [10]:
"Dr. James's spouse"

"Dr. James's spouse"

In [11]:
"Dr. James`s spouse"

'Dr. James`s spouse'

In [12]:
'He said, "Wow!"'

'He said, "Wow!"'

In [13]:
"He said, \"Wow!\""

'He said, "Wow!"'

In [14]:
len('Dr. James')

9

In [15]:
len('Dr. James\'s Spouse')

18

In [16]:
len("Dr. James's Spouse")

18

In [24]:
drs = 'Dr. James\'s "Spouse"'
drs

'Dr. James\'s "Spouse"'

In [25]:
print(drs)

Dr. James's "Spouse"

In [18]:
seq = 'AGCCGAC'
seq[5]

'A'

In [26]:
# [start_position:up_until_but_not_including]
# First character is in position 0
seq[5:8]

'AC'

In [28]:
start_position=0
number_of_characters=5
seq[0:5]

'AGCCG'

In [29]:
seq[5:99]

'AC'

In [30]:
seq[99:100]

''

In [31]:
txt = '''This
string
is
on
multiple
lines'''

In [32]:
txt

'This\nstring\nis\non\nmultiple\nlines'

In [33]:
print(txt)

This
string
is
on
multiple
lines

In [34]:
len(txt)

32

In [35]:
txt2 = 'This\nstring\nis\non\nmultiple\nlines'

In [36]:
print(txt2)

This
string
is
on
multiple
lines

In [41]:
tbl = "Paul\tBoal\nSarah\tLester"
print(tbl)

Paul	Boal
Sarah	Lester

# Parts of strings

In [42]:
name = "Paul E. Boal"

`[]` is used to "slice" a string

```
a[start:end] # items start through end-1
a[start:]    # items start through the rest of the array
a[:end]      # items from the beginning through end-1
a[:]         # a copy of the whole array
```

If `start` or `end` is a negative number, then it means that many characters from the end of the string.

In [44]:
len(name)

12

In [45]:
name[0]

'P'

In [46]:
name[0:4]

'Paul'

In [47]:
name[-4:]

'Boal'

In [48]:
name[5:]

'E. Boal'

In [49]:
name.find(' ')

4

In [50]:
name

'Paul E. Boal'

In [51]:
name[0:name.find(' ')]

'Paul'

In [52]:
name[name.find(' ')+1:]

'E. Boal'

In [53]:
pos_of_middle_name = name.find(' ') + 1
middle_and_last = name[pos_of_middle_name:]
middle_and_last

'E. Boal'

In [55]:
pos_of_last = middle_and_last.find(' ') + 1
last_name = middle_and_last[pos_of_last:]
last_name

'Boal'

In [ ]:
S = 'Here is a string'
S.find('s')

In [56]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [57]:
import random
help(random.random)

Help on built-in function random:

random(...) method of random.Random instance
    random() -> x in the interval [0, 1).

# Converting text to numbers

In [58]:
int('45')

45

In [59]:
float('45.12')

45.12

In [60]:
int('45.12')

ValueError: invalid literal for int() with base 10: '45.12'

In [61]:
int('1b')

ValueError: invalid literal for int() with base 10: '1b'

In [62]:
int('a',base=16)

10

In [63]:
float('10.3 + 4')

ValueError: could not convert string to float: '10.3 + 4'

In [64]:
a="14.5"
float(a)

14.5

In [65]:
a = 14.5

In [66]:
a = "14.5"

In [67]:
a + 7

TypeError: Can't convert 'int' object to str implicitly

In [69]:
float(a)

14.5

In [70]:
int(float(a))

14

In [71]:
type(a)

str

In [73]:
a  =  10
type(a)

int

In [74]:
a = 10.0
type(a)

float

## Printing text

In [75]:
# "old" style formatting
a = 'here'
print('Put some text %s' % a)

Put some text here

In [76]:
# "old" style formatting
print('Put a number here: %d' % 45)

Put a number here: 45

In [77]:
# "old" style formatting
a = 143.8758787
print('Put a formatted number here: %.2f' % a )

Put a formatted number here: 143.88

In [78]:
a

143.8758787

In [79]:
# "new" style formatting
print('Put a formatted number here: {:.2f}'.format(a))

Put a formatted number here: 143.88

In [80]:
# "new" style formatting
def print_numbers(a,b):
    return 'Here is {:d} and here is {:d}'.format(a,b)

In [81]:
print(print_numbers(1,2))

Here is 1 and here is 2

In [82]:
print(print_numbers('a','b'))

ValueError: Unknown format code 'd' for object of type 'str'

See https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting for a good reference on formatting.

In [84]:
physician = 'Dr. James'
patient = 'Jane Doe'
diagnosis = 'Right Ulnar Fracture'
print(physician, patient, diagnosis, sep=';')

Dr. James;Jane Doe;Right Ulnar Fracture

## Getting Input

In [86]:
def greater (a, b):
    if (a > b):
        return a
    else:
        return b

a = int(input("Enter A:"))

greater(a, 100)

Enter A:105

105