# Week 3 - Text

The objective for this part of the lecture is to explain how Python represents strings and how they can be used.

* What is a string
* How to manipulate and parse strings
* Printing out strings

In [1]:
"Dr. James"

'Dr. James'

In [4]:
dr='Dr. James'
dr

'Dr. James'

In [5]:
'Dr. James' + 1

TypeError: Can't convert 'int' object to str implicitly

In [8]:
'Dr. James' + ' and spouse'

'Dr. James and spouse'

In [9]:
'Dr. James\'s spouse'

"Dr. James's spouse"

In [10]:
"Dr. James`s spouse"

'Dr. James`s spouse'

In [11]:
'He said, "Wow!"'

'He said, "Wow!"'

In [12]:
len('Dr. James')

9

In [13]:
len('Dr. James\'s Spouse')

18

In [14]:
len("Dr. James's Spouse")

18

In [17]:
'Dr. James\'s "Spouse"'

'Dr. James\'s "Spouse"'

In [36]:
seq = 'AGCCGAC'
seq[5]

'A'

In [41]:
# [start_position:up_until_but_not_including]
# First character is in position 0
seq[5:8]

'AC'

In [45]:
start_position=0
number_of_characters=5
seq[start_position:start_position+number_of_characters]

'AGCCG'

In [46]:
txt = '''This
string
is
on
multiple
lines'''

In [47]:
txt

'This\nstring\nis\non\nmultiple\nlines'

In [48]:
print(txt)

This
string
is
on
multiple
lines

In [49]:
len(txt)

32

In [50]:
txt2 = 'This\nstring\nis\non\nmultiple\nlines'

In [51]:
print(txt2)

This
string
is
on
multiple
lines

In [54]:
tbl = "a1\ta2\nb10\tb2"
print(tbl)

a1	a2
b10	b2

# Parts of strings

In [55]:
name = "Paul E. Boal"

`[]` is used to "slice" a string

```
a[start:end] # items start through end-1
a[start:]    # items start through the rest of the array
a[:end]      # items from the beginning through end-1
a[:]         # a copy of the whole array
```

If `start` or `end` is a negative number, then it means that many characters from the end of the string.

In [56]:
len(name)

12

In [57]:
name[0]

'P'

In [58]:
name[0:4]

'Paul'

In [59]:
name[-4:]

'Boal'

In [60]:
name[5:]

'E. Boal'

In [61]:
name.find(' ')

4

In [62]:
name[0:name.find(' ')]

'Paul'

In [64]:
name[name.find(' ')+1:]

'E. Boal'

In [70]:
pos_of_middle_name = name.find(' ') + 1
middle_and_last = name[pos_of_middle_name:]
pos_of_last = middle_and_last.find(' ') + 1
middle_and_last[pos_of_last:]

'Boal'

In [69]:
S = 'Here is a string'
S.find('s')

6

In [67]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

# Converting text to numbers

In [72]:
int('45')

45

In [73]:
float('45.12')

45.12

In [74]:
int('45.12')

ValueError: invalid literal for int() with base 10: '45.12'

In [75]:
int('1b')

ValueError: invalid literal for int() with base 10: '1b'

In [76]:
int('a',base=16)

10

In [77]:
float('10.3 + 4')

ValueError: could not convert string to float: '10.3 + 4'

In [78]:
a="14.5"
float(a)

14.5

## Printing text

In [79]:
# "old" style formatting
a = 'here'
print('Put some text %s' % a)

Put some text here

In [80]:
# "old" style formatting
print('Put a number here: %d' % 45)

Put a number here: 45

In [82]:
# "old" style formatting
a = 143.8758787
print('Put a formatted number here: %.2f' % a )

Put a formatted number here: 143.88

In [83]:
a

143.8758787

In [84]:
# "new" style formatting
print('Put a formatted number here: {:.2f}'.format(a))

Put a formatted number here: 143.88

In [89]:
# "new" style formatting
def print_numbers(a,b):
    return 'Here is {:d} and here is {:d}'.format(a,b)

In [90]:
print(print_numbers(1,2))

Here is 1 and here is 2

See https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting for a good reference on formatting.

In [95]:
physician = 'Dr. James'
patient = 'Jane Doe'
diagnosis = 'Right Ulnar Fracture'
print(physician, patient, diagnosis, sep=' ')

Dr. James Jane Doe Right Ulnar Fracture

## Getting Input

In [98]:
def greater (a, b):
    if (a > b):
        return a
    else:
        return b

a = int(input("Enter A:"))

greater(a, 100)

Enter A:100

100