How do we pull the middle out of some string we're parsing?

Paul E. Boal
Paul Emre Boal

In [3]:
def middle_name(name):
    first_space = name.find(' ')
    second_space = name.find(' ',first_space + 1)
    return name[first_space + 1:second_space]

In [4]:
middle_name('Paul E. Boal')

'E.'

In [5]:
middle_name('Paul Emre Boal')

'Emre'

In [1]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [7]:
name = "Paul E. Boal"
name_list = name.split(' ')

In [8]:
name_list[0]

'Paul'

In [9]:
name_list[1]

'E.'

Input: "14 September 2016"
Output: "September 14, 2016"

In [19]:
def change_date_format_and_add(date):
    """ (string) -> string
    This function converts Aussie date format to US
    and adds 1 year.
    
    >>> change_date_format('14 September 2016')
    'September 14, 2017'
    
    >>> change_date_format('28 October 2016')
    'October 28, 2017'

    >>> change_date_format('1 October 2016')
    'October 1, 2017'
    """
    
    first_space = date.find(' ')
    day = date[0:first_space]
    
    month_year = date[first_space+1:]
    next_space = month_year.find(' ')
    
    month = month_year[0:next_space]
    year = int(month_year[next_space+1:])
    next_year = year + 1
    
    output = "{:s} {:s}, {:d}".format(month, day, next_year)
    return output

In [24]:
change_date_format('14 ' + 'September ' + str(2013-1))

'September 14, 2013'

In [20]:
change_date_format('14 September 2016')

'September 14, 2017'

In [18]:
change_date_format('1 October 2016')

'October 1, 2016'

In [3]:
date = '14 September 2016'
first_space = date.find(' ')

In [4]:
date[0:first_space]

'14'

In [10]:
month_year = date[first_space+1:]
month_year

'September 2016'

In [9]:
next_space = month_year.find(' ')
next_space

9

In [11]:
month = month_year[0:next_space]
month

'September'

In [12]:
year = month_year[next_space+1:]
year

'2016'